# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 8

# C/C++: tab indentation, 4 spaces
[*.{c,h,cpp,hpp,c++,h++,cc,hh}]
indent_style = tab
tab_width = 4

# Makefiles: tab indentation (no size specified)
[{Makefile,Makefile.*,*.make}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{js,jsx,ts,tsx,vue,svelte}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{json,yml}]
indent_style = space
indent_size = 2
